---
ip: "192.168.10.10"
memory: 8192
cpus: 4
provider: virtualbox

authorize: ~/.ssh/insecure_private_key.pub

keys:
    - ~/.ssh/insecure_private_key

features:
    - ohmyzsh: true
    - pm2: true
    - python: true